<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Table</title>
	<style type="text/css">
		body { font-family: Arial, Tahoma, Vernada; font-size: 12px; }
	</style>
</head>
<body>
	<table border="1"> 
		<tr>
			<td width="250"> Име: Ирен Любомирова Острева </td> 
			<td width="350"> Период на курса: 01.10. 2012 – 15.06.2013<br/> Преподавател: Кристиана Мирчева </td> 
			<td width="300"> Възраст: 8 г.</td> 
		</tr> 
		<tr> 
			<td> Хорариум: 96ч. </td> 
			<td> Ниво: начинаещ </td> 
			<td> Уч. Система: Excellent 1 </td> 
		</tr>
		<tr> 
			<td> Ул. Ел-ти </td> 
			<td> Текущи оценки - % </td> 
			<td> Текущ текст </td> 
			<td> Краен<br/>тест </td> 
		</tr> 
		<tr> 
			<td> &nbsp; </td> 
			<td> Units 1-15 </td> 
			<td> &nbsp; </td> 
			<td> Бр. т<br/>Оценка </td> 
		</tr>
		<tr style="background: #C0C0C0;"> 
			<td> <b>Граматика</b> </td> 
			<td> &nbsp; </td> 
			<td> &nbsp; </td> 
			<td> &nbsp; </td> 
		</tr>
		<tr> 
			<td> 1.Упражнения от тетрадката-за домашно </td> 
			<td> 4/4 (100%) Is this? ; <br/>4/4 My/Your </td> 
		</tr>
		<tr> 
			<td> 2. Упражнения от помагало </td> 
			<td> 18/18 (100%) Verb “to be”; <br/>7,5/8 (94%) This is <br/>5/5 (100%) U6; <br/> 5/5 (100%) U7;</td> 
		</tr>
		<tr> 
			<td> 3. Упражнения от допълнителен лист </td> 
			<td> 6/8 (75%) to be: positive forms </td> 
		</tr>
		<tr style="background: #C0C0C0;"> 
			<td> <b>Четене</b> </td> 
			<td> &nbsp; </td>  
		</tr>
		<tr> 
			<td> 1. Упражнения от учебника </td> 
			<td> 0,5/2(25%)-words from the vocabulary book;<br/>3/3 (100%) words with letters;<br/>10/10 (100%) Dialogue, U1; <br/>6.00 Texts U1; <br/>6.00 texts U2<br/>3/3 (100%) U3; <br/>3,5/4 (87%) Whar colour is your car? U3;<br/>6.00 U4</td> 
		</tr>
		<tr> 
			<td> 2. Упражнения от помагало </td> 
			<td> 3,5/4 (87%) Whar colour is your car? U3;<br/>4/4 (100%) U4;</td> 
		</tr>
		<tr style="background: #C0C0C0;"> 
			<td> <b>Говорене</b> </td> 
			<td> &nbsp; </td>  
		</tr>
		<tr> 
			<td> 1. Упражнения от учебника </td> 
			<td> 0,5/2(25%)-words from the vocabulary book;<br/>3/3 (100%) words with letters;<br/>10/10 (100%) Dialogue, U1; <br/>6.00 Texts U1; <br/>6.00 texts U2<br/>3/3 (100%) U3; <br/>3,5/4 (87%) Whar colour is your car? U3;<br/>6.00 U4</td> 
		</tr>
		<tr> 
			<td> 1. Упражнения от учебника </td> 
			<td> 0,5/2(25%)-words from the vocabulary book;<br/>3/3 (100%) words with letters;<br/>10/10 (100%) Dialogue, U1; <br/>6.00 Texts U1; <br/>6.00 texts U2<br/>3/3 (100%) U3; <br/>3,5/4 (87%) Whar colour is your car? U3;<br/>6.00 U4</td> 
		</tr>
		<tr style="background: #C0C0C0;"> 
			<td> <b>Слушане</b> </td> 
			<td> &nbsp; </td>  
		</tr>
		<tr> 
			<td> 1. Упражнения от учебника </td> 
			<td> &nbsp; </td> 
		</tr>
		<tr> 
		<td> 2. Разбиране на инструкции и граматически обяснения на учителя  </td> 
			<td> &nbsp; </td> 
		</tr>
		<tr> 
			<td> 3. Упражнения от Помагало </td> 
			<td>
				3/3 (100%) The Numbers Chant; 1<br/>
				3/3 (100%) U2; <br/>
				5/5 (100%) U2;  <br/>
				2/4 (50%) Story time U2 <br/>
				 4,5/5 (90%) U3; <br/>
				3/3 (100%) Sing a rainbow U3;<br/>
				3,5/4 (88%) U4; <br/>
				4/4 (100%) U4;<br/>
				3,5/4 (88%) U4;<br/>
				2,5/3 (83%) U5;<br/>
			</td> 
		</tr>
		<tr style="background: #C0C0C0;"> 
			<td> <b>Писане</b> </td> 
			<td> &nbsp; </td>  
		</tr>
		<tr> 
			<td> 1. Писмени преводи от български на английски </td> 
			<td> 3/3 (100%)Match Phrases U1 </td> 
		</tr>
		<tr> 
			<td> 2. Диктовки </td> 
			<td>
				23/26 (86%)-Alphabet; <br/>
				15,5/16 (97%)-Alphabet;<br/>
				15,5/16 (97%)-Alphabet; <br/>
				10/10 (100%) words with letters;<br/>
				8,5/10 (85%) words with letters, words U1; <br/>
			</td> 
		</tr>
		<tr> 
			<td> 3. Упражнения от Помагало </td> 
			<td> 5/7 (71%) U1 </td> 
		</tr>
		<tr style="background: #C0C0C0;"> 
			<td> <b>Лексика</b> </td> 
			<td> &nbsp; </td>  
		</tr>
		<tr> 
			<td> 1.Писмени изпитвания на думи </td> 
			<td>
				1/9(11%);<br/>
				14/14(100%);<br/>
				22,5/23 (98%) words with letters;<br/>
				10/10 (100%) Words U1;<br/>
				8/11(72%) Numbers; <br/>
				7/10 (70%) Numbers<br/>
				9/15 (60%) Colours, dialogue;<br/>
				21,5/30 (72%) U2;<br/>
				10/10 (100%) U3;  <br/>
				10/10 (100%) U4;<br/>
				14/21 (67%) U5; <br/>
				26/30 (87%) U5;<br/>
				18/20 (90%) U6;<br/>
				19,5/20 (98%) U7;<br/>
			</td> 
		</tr>
		<tr> 
			<td> 2.Устни изпитвания на думи </td> 
			<td>
				3/3 (100%) words with letters; <br/>
				 20/20 Words U1; <br/>
				10/10 (100%) Words U1; <br/>
				20/20 (100%) U1, U2<br/>
				9/10 (90%) U1-U2;<br/>
				6/7 (86%) U3;<br/>
				8/9 (89%) U6;<br/>
			</td> 
		</tr>
		<tr> 
			<td> 3. Тестове след всеки урок </td> 
			<td>
				9/14 (64%) U2;<br/>
				13/16 (81%) U3;<br/>
				9/10 (90%) U4;<br/>
				19/19 (100%) U5; <br/>
				30/32 (94%) U6;<br/>
			</td> 
		</tr>
		<tr style="background: #C0C0C0;"> 
			<td> <b>Обща оценка</b> </td> 
			<td> &nbsp; </td>  
			<td> &nbsp; </td>  
			<td> &nbsp; </td>  
		</tr>
	</table> 
</body>
</html>